{% extends 'layouts/main.html' %} {% block title %}Diaries{% endblock %} {% block content %}
<main class="h-full min-h-full">
    <div>
        <div class="container mx-auto lg-px-32 px-10 pb-32">
            <h2 class="text-5xl w-text-6xl font-medium tracking-wide mb-3 text-center">Diaries</h2>
            <p class="mb-16 text-center text-xl font-normal">This is my personal diary, my life, and How I feel.</p>
            <input type="text" class="shadow-md bg-card text-primary max-w-sm rounded p-3 mb-12" aria-label="Search" placeholder="Search...">
            <div class="grid lg-grid-cols-3 gap-x-10 gap-y-10 grid-cols-1 w-grid-cols-2">
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded bg-card text-primary shadow p-5 my-5 " href="diary" target="_blank ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                        <p class="text-lg mb-5">Reflections on why the system I used to track my progress was flawed, and how I changed the way I think about progress</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}