{% extends 'layouts/main.html' %} {% block title %}John Aziz{% endblock %} {% block content %}
<main>
    <section class="introduction">
        <div id="introduction-text">
            <p>👋🏼 Hi, I'm</p>
            <h1>John
                <br>Aziz</h1>
            <p>Computer Engineering student at Modern Academy for Engineering, GDSC Lead, Beta MLSA, GDG Cloud Egypt Team Member, Full-Stack Developer Nanodegree Graduate.
                <br>Recently, I developed an interest in Machine Learning and Google Apps Script.</p>
        </div>
        <div>
            <img width="50%" height="50%" align=right src="/static/img/john-circle.png" alt="My photo">
        </div>
    </section>
    <section class="recent-videos">
        <h2>Recent Videos</h2>
        <div>
            <a href="https://www.youtube.com/watch?v=1ZBFaoxHNvc" target="_blank">
                <img src="https://img.youtube.com/vi/1ZBFaoxHNvc/maxresdefault.jpg" alt="Video thumbnail">
                <h2>Git & GitHub & Version Control</h2>
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/video" target="_blank">
                <img src="https://img.youtube.com/" alt="Video thumbnail">
                <h2>Git & GitHub & Version Control</h2>
            </a>
        </div>
        <a href="/youtube">View All Videos →</a>
    </section>
    <section class="featured-posts">
        <h2>Featured Posts</h2>
        <div>
            <a href="blog/1" target="_blank">
                <h2>How to mam</h2>
                <p>It's like magic.</p>
                <ul>
                    <li>re</li>
                </ul>
            </a>
        </div>
        <a href="/blog">View All Posts →</a>
    </section>
    <section>
        <h1>That's it! Now It's your turn to say hi.</h1>
        <p>
            I hope To hear from you! <span><a href="mailto:hey@jaziz.codes">hey@jaziz.codes</a></span>
        </p>
    </section>
</main>
{% endblock %}