{% extends 'layouts/main.html' %} {% block title %}John Aziz{% endblock %} 
{% block meta %}
<meta property="og:url" content="https://johnaziz.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="John Aziz - Developer" />
<meta property="og:description" content="Developer, writer, and maker. Obsessed with creating exceptional, high-quality, content and applications." />
<meta property="og:image" content="https://lh3.googleusercontent.com/pw/ACtC-3cdpI8x4a93dt4yNVy8B6h026LUUHF6DzFGrWXsgCjdRgk0l0YAMFXAZ67LuTs_t6MmW3p_M83Bw3bo7dAJd_S8-PnjnrUEzo8UaQk0dQ8CqKgXPwpLB8Ren6dstUUPNLdSbSdOy8TJU0tfsURUDnB-=w2770-h1559-no" />
<meta property="og:image:alt" content="John Aziz - Microsoft Student Ambassador" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
{% endblock %}
{% block content %}
<main class="h-full min-h-full">
    <div>
        <div class="mb-24 container mx-auto px-10 pt-24 lg-px-32 w-mb-32">
            <div class="grid grid-cols-1 w-grid-cols-2 gap-x-20 gap-y-20 items-center">
                <div>
                    <p class="text-2xl w-text-3xl">
                        <span class="wave" role="img" aria-label="waving hand emoji">👋🏼</span>
                        <!-- -->
                        Hi, I'm
                    </p>
                    <h1 class="text-5xl w-text-6xl font-medium leading-none my-2">John <br> Aziz
                    </h1>
                    <p class="text-xl w-text-2xl">Computer Engineering student at Modern Academy for Engineering, <a target="_blank" rel="noreferrer" href="https:goo.gle/gdsc-leads" class="text-accent">GDSC</a> Lead, Beta <a target="_blank" rel="noreferrer" href="https://studentambassadors.microsoft.com"
                            class="text-accent">MLSA</a>, <a target="_blank" rel="noreferrer" href="https://gdg.community.dev/gdg-cloud-egypt" class="text-accent">GDG Cloud Egypt</a> Team Member, <a target="_blank" rel="noreferrer" href="https://confirm.udacity.com/FWJ3VKDR"
                            class="text-accent"> Full-Stack Developer Nanodegree Graduate</a>.
                        <br>Recently, I developed an interest in Machine Learning and Google Apps Script.</p>
                </div>
                <div class="relative">
                    <div style="display:block;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="display:block;box-sizing:border-box;padding-top:100%"></div>
                        <img alt="John Aziz" class="w-full max-w-sm shadow-lg rounded-full z-10" style="visibility: inherit; position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                            src="/static/img/John.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto lg-px-32 px-10 my-20">
            <h2 class="text-4xl font-medium ">Featured Posts</h2>
                <div class="grid lg-grid-cols-3 gap-x-10 gap-y-10 grid-cols-1 w-grid-cols-2">
                    <div>
                        <a href="/blog/1">
                            <div class="flex flex-col flex-grow text-primary rounded bg-card shadow p-5 my-5">
                                <h1 class="text-2xl my-5 font-medium text-accent">From being Rejected as GDSC Lead to Top MENA</h1>
                                <p class="text-lg mb-5">Reflections about my journey as a Google Developer Student Club Community Leader for the past year</p>
                                <ul>
                                    <li>
                                        <span class="text-sm rounded-full bg-accent px-3 py-1 mr-2">GDSC</span>
                                        <span class="text-sm rounded-full bg-accent px-3 py-1 mr-2">Personal Growth</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/blog/2">
                            <div class="flex flex-col flex-grow text-primary rounded bg-card shadow p-5 my-5">
                                <h1 class="text-2xl my-5 font-medium text-accent">Organizing the MEGA events around MENA & Egypt</h1>
                                <p class="text-lg mb-5">Reflections about the process of organizing and managing events on a large scale</p>
                                <ul>
                                    <li>
                                        <span class="text-sm rounded-full bg-accent px-3 py-1 mr-2">GDSC</span>
                                        <span class="text-sm rounded-full bg-accent px-3 py-1 mr-2">Personal Growth</span>
                                        <span class="text-sm rounded-full bg-accent px-3 py-1 mr-2">Event Organizing</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            <a class="text-lg text-accent" href="/blog">View All Posts →</a>
        </div>
        <div class="container mx-auto lg-px-32 px-10 my-20">
            <h2 class="text-4xl font-medium ">Recent Videos</h2>
            <div class="grid lg-grid-cols-3 gap-x-10 gap-y-10 grid-cols-1 w-grid-cols-2 ">
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=1ZBFaoxHNvc " target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/1ZBFaoxHNvc/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=M_prf8cCyH8 " target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/M_prf8cCyH8/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium">Deploying Applications to Google Cloud</h2>
                    </a>
                </div>
            </div>
            <a class="text-lg text-accent" href="/talks ">View All Videos →</a>
        </div>

        <div class="px-12 py-24 flex flex-col items-center justify-center container mx-auto w-px-24 text-center">
            <h1 class="text-4xl w-text-5xl font-medium w-full">That's it! Now It's your turn to say hi.</h1>
            <p class="text-xl w-text-3xl">
                I hope To hear from you!
                <!-- --><span><a href="mailto:hey@jaziz.codes " class="text-xl w-text-3xl font-medium my-12">hey@jaziz.codes</a></span>
            </p>
        </div>
    </div>
</main>
{% endblock %}
