{% extends 'layouts/main.html' %} {% block title %}Résumé{% endblock %} {% block content %}
<main class="h-full min-h-full">
    <div>
        <div class="container mx-auto lg-px-32 px-10 pb-32" style="height: 650px;">
            <h2 class="text-5xl w-text-6xl font-medium tracking-wide mb-3 text-center">Résumé</h2>
            <iframe class="w-full min-w-full h-full" src="https://docs.google.com/document/d/e/2PACX-1vS4a-J_5jxUioH8sfUeEUoA4Utb3YaccN_-eeNKSfbj9IaA2fDbMbFIchpX9UsR8GXMFp7Uop3bUapN/pub?embedded=true"></iframe>
        </div>
    </div>
</main>
{% endblock %}
