{% extends 'layouts/main.html' %} {% block title %}Talks{% endblock %} 
{% block meta %}
<meta property="og:url" content="https://johnaziz.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="John Aziz - Developer" />
<meta property="og:description" content="Developer, writer, and maker. Obsessed with creating exceptional, high-quality, content and applications." />
<meta property="og:image" content="https://lh3.googleusercontent.com/pw/ACtC-3cdpI8x4a93dt4yNVy8B6h026LUUHF6DzFGrWXsgCjdRgk0l0YAMFXAZ67LuTs_t6MmW3p_M83Bw3bo7dAJd_S8-PnjnrUEzo8UaQk0dQ8CqKgXPwpLB8Ren6dstUUPNLdSbSdOy8TJU0tfsURUDnB-=w2770-h1559-no" />
<meta property="og:image:alt" content="John Aziz - Microsoft Student Ambassador" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
{% endblock %}
{% block content %}
<main class="h-full min-h-full">
    <div>
        <div class="container mx-auto lg-px-32 px-10 pb-32">
            <h2 class="text-5xl w-text-6xl font-medium tracking-wide mb-3 text-center">Recent Videos</h2>
            <p class="mb-16 text-center text-xl font-normal">Public speaking has been an incredible experience, here's some of my talks and appearances</p>
            <div class="grid lg-grid-cols-3 gap-x-10 gap-y-10 grid-cols-1 w-grid-cols-2">
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=1ZBFaoxHNvc " target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/1ZBFaoxHNvc/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Git & GitHub & Version Control</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=M_prf8cCyH8 " target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/M_prf8cCyH8/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium">Deploying Applications to Google Cloud</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=vWtzS91Ce-8" target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/vWtzS91Ce-8/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Technical Architecture of Software Applications</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=B4HI3i3mSrc" target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/B4HI3i3mSrc/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">2021 Solution Challenge | Info Session</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=SCBJc-XyJvA" target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/SCBJc-XyJvA/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Perform Foundational Data, ML, and AI Tasks in Google Cloud</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=pDA4QRzRgI8" target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/pDA4QRzRgI8/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Google Cloud Essentials Study Jam</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=-4aZ4tY6ryw" target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/-4aZ4tY6ryw/maxresdefault.jpg" alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Deployment Manager Study Jam</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=yYmGXju5Hog" target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/yYmGXju5Hog/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Security & Identity Fundamentals Study Jam</h2>
                    </a>
                </div>
                <div>
                    <a class="flex flex-col flex-grow rounded text-primary py-5 my-5 " href="https://www.youtube.com/watch?v=hFjg0vmwmj8 " target="_blank ">
                        <img class="rounded shadow" src="https://img.youtube.com/vi/hFjg0vmwmj8/maxresdefault.jpg " alt="Video thumbnail ">
                        <h2 class="text-accent text-2xl my-5 font-medium ">Baseline: Infrastructure Study Jam</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
