<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="Personal Blog & Portfolio">
    <meta name="author" content="John Isaac">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
    <!-- /styles-->

    <!-- favicons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <!-- /favicons -->
</head>

<body>
    <div class="text-primary bg-primary py-20">
        <!-- Header -->
        <header class="hidden md:inline mx-auto max-w-screen-xl h-24 overflow-hidden sticky top-0 bg-primary z-10">
            <nav class="px-10 mt-auto h-full flex items-center justify-start text-primary" id="nav">
                <ul class="flex flex-grow text-lg items-center">
                    <li><a href="/">J</a></li>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/talks">Talks</a></li>
                    <li><a href="https://www.youtube.com/channel/UCJwxtw-l_nibkU54ZbVW8xw" target="_blank">Youtube</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/uses">Uses</a></li>
                </ul>
            </nav>
        </header>

        {% block content %}{% endblock %}
    </div>
    <footer clas="pt-24 pb-5 flex-col-reverse items-center flex justify-around mx-auto bg-primary">
        <p>©
            <!-- -->2021
            <!-- -->John Aziz
            <a href="https://twitter.com/john00isaac" target="_blank">
                <img align="right" alt="John Aziz | Twitter" title="Twitter" style="padding-left:0.5em;border:none;width:22px;" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />
            </a>
            <a href="https://www.facebook.com/john0isaac/" target="_blank">
                <img align="right" alt="John's Facebook" title="Facebook" style="padding-left:0.5em;border:none;width:22px;" width:22px;" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/facebook.svg" />
            </a>
            <a href="https://www.linkedin.com/in/john0isaac/" target="_blank">
                <img align="right" alt="John's LinkedIn" title="LinkedIn" style="padding-left:0.5em;border:none;width:22px;" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />
            </a>
            <a href="https://www.github.com/John0Isaac/" target="_blank">
                <img align="right" alt="John's GitHub" title="GitHub" style="padding-left:0.5em;border:none;width:22px;" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg" />
            </a>
        </p>
    </footer>
</body>

</html>