* {
    color: #2d3748;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.h-full {
    height: 100%;
}

.min-h-full {
    min-height: 100%;
}

body {
    margin-bottom: 1em;
    margin-left: 10em;
    margin-right: 5em;
}

.relative {
    position: relative;
}

.pt-24 {
    padding-top: 6rem;
}

.mb-24 {
    margin-bottom: 6rem;
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.pb-5 {
    padding-bottom: 1.25rem;
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.container {
    width: 100%;
}

.w-full {
    width: 100%;
}

.justify-start {
    justify-content: flex-start;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.text-primary {
    color: var(--color-text-primary);
}

.bg-primary {
    background-color: var(--color-bg-primary);
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.font-medium {
    font-weight: 600;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-grow {
    flex-grow: 1;
}

.introduction {
    align-items: center;
}

#introduction-text {
    width: 40%;
}

a {
    text-decoration: inherit;
}

#nav ul {
    list-style-type: none;
    padding: 1px;
    overflow: hidden;
}

#nav li {
    font-size: medium;
    float: left;
}

#nav li a {
    display: block;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.rounded {
    border-radius: 0.25rem;
}

.gap-x-10 {
    column-gap: 2.5rem;
}

.gap-y-10 {
    row-gap: 2.5rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}