{% extends 'layouts/main.html' %} {% block title %}John Aziz | Blog{% endblock %} {% block content %}
<main class="h-full min-h-full">
    <div class="mx-auto container px-2 w-px-16">
        <div class="flex justify-center pb-12">
            <div class="overflow-auto">
                <div class="px-8 w-px-10 py-20 prose s-prose lg-prose">
                    <h1>Organizing the MEGA events around MENA & Egypt</h1>
                    <div class="-mt-8 flex space-x-5">
                        <p>10 min read</p>
                        <p>-</p>
                        <p>August 20th 2021</p>
                    </div>
                    <div>
                        <h3>Still not done</h3>
                        <p>
                            Needs work.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
