{% extends 'layouts/main.html' %} {% block title %}John Aziz | Blog{% endblock %} 
{% block meta %}
<meta property="og:url" content="https://johnaziz.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="John Aziz - Developer" />
<meta property="og:description" content="Developer, writer, and maker. Obsessed with creating exceptional, high-quality, content and applications." />
<meta property="og:image" content="https://lh3.googleusercontent.com/pw/ACtC-3cdpI8x4a93dt4yNVy8B6h026LUUHF6DzFGrWXsgCjdRgk0l0YAMFXAZ67LuTs_t6MmW3p_M83Bw3bo7dAJd_S8-PnjnrUEzo8UaQk0dQ8CqKgXPwpLB8Ren6dstUUPNLdSbSdOy8TJU0tfsURUDnB-=w2770-h1559-no" />
<meta property="og:image:alt" content="John Aziz - Microsoft Student Ambassador" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
{% endblock %}
{% block content %}
<main class="h-full min-h-full">
    <div class="mx-auto container px-2 w-px-16">
        <div class="flex justify-center pb-12">
            <div class="overflow-auto">
                <div class="px-8 w-px-10 py-20 prose s-prose lg-prose">
                    <h1>Organizing the MEGA events around MENA & Egypt</h1>
                    <div class="-mt-8 flex space-x-5">
                        <p>10 min read</p>
                        <p>-</p>
                        <p>August 20th 2021</p>
                    </div>
                    <div>
                        <h3>Still not done</h3>
                        <p>
                            Needs work.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
